@import "../../../assets/scss/variables.scss";

#header-wrapper {
    padding: $padding-none $padding-large;

    #header-container {
        justify-content: flex-start;
        align-items: center;
        padding: $padding-none;
        gap: 10px;

        #logo-content {
            line-height: 24px;
            flex: 1 1 100%;
            max-width: 100%;
            text-align: center;
        }     
    }
}
